# SqlAlchemy

## Imports

In [1]:
import os
import yaml
import pandas as pd
from urllib.parse import quote_plus  # PY2: from urllib import quote_plus
from sqlalchemy.engine import create_engine
from sqlalchemy.sql.expression import select
from sqlalchemy.sql.functions import func
from sqlalchemy.sql.schema import Table, MetaData

In [2]:
aws_cred = yaml.load(open("../conf/local/credentials.yml"), Loader=yaml.FullLoader)

## SqlAlchemy connection

In [3]:
# Basic connection

conn_str = 'awsathena+rest://{aws_access_key_id}:{aws_secret_access_key}@athena.{region_name}.amazonaws.com:443/'\
           '{schema_name}?s3_staging_dir={s3_staging_dir}'
engine = create_engine(conn_str.format(
    aws_access_key_id=quote_plus(aws_cred['dssg']['aws_access_key_id']),
    aws_secret_access_key=quote_plus(aws_cred['dssg']['aws_secret_access_key']),
    region_name='eu-west-2',
    schema_name='default',
    s3_staging_dir=quote_plus('s3://iefp-unemployment/SIGAE/')))

# SQL query

query = "select * from sigae.emp_ofertas LIMIT 5;"
df = pd.read_sql_query(query, engine)

In [4]:
df.head()

,ano_mes,tipo_movimento,centro,cnp,ind_cnp,a_tempo,natureza_emprego,nr_meses,idade_minima,idade_maxima,...,processo_recup_empresas,cpp,ind_cpp,cpp_pretendida,me2014,eao,e_mais,pais_residencia_estrang,grau_habilitacao_estrang,last_update_date
0,"""201601""","""61""","""224""",,,C,T,12,,,...,N,"""51410""","""23""",,S,,,,,
1,"""201601""","""84""",,,,C,T,12,,,...,N,"""51410""","""23""","""51410""",S,,,,,
2,"""201601""","""61""","""586""",,,C,T,6,,,...,N,"""92140""","""39""",,S,,,,,
3,"""201601""","""84""",,,,C,T,6,,,...,N,"""92140""","""39""","""92140""",S,,,,,
4,"""201601""","""71""","""165""",,,C,I,,,,...,,"""53220""","""25""","""91120""",,,,,,

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 99 columns):
ano_mes                          5 non-null object
tipo_movimento                   5 non-null object
centro                           5 non-null object
cnp                              5 non-null object
ind_cnp                          5 non-null object
a_tempo                          5 non-null object
natureza_emprego                 5 non-null object
nr_meses                         5 non-null object
idade_minima                     5 non-null object
idade_maxima                     5 non-null object
habilitacoes_minima              5 non-null object
habilitacoes_maximo              5 non-null object
salario                          5 non-null object
tipo_salario                     5 non-null object
transporte_proprio               5 non-null object
carta_conducao                   5 non-null object
formacao_profissional            5 non-null object
frances                          5 non-null object
ingles                           5 non-null object
alemao                           5 non-null object
espanhol                         5 non-null object
outra_lingua                     5 non-null object
area_recrutamento                5 non-null object
freguesia_local_trabalho         5 non-null object
data_comunicacao                 5 non-null object
modo_comunicacao                 5 non-null object
nr_postos_trabalho               5 non-null object
data_validade                    5 non-null object
freguesia_residencia_1           5 non-null object
freguesia_residencia_2           5 non-null object
freguesia_residencia_3           5 non-null object
data_anulacao                    5 non-null object
motivo_anulacao                  5 non-null object
nr_oferta                        5 non-null object
data_movimento                   5 non-null object
freguesia_entidade               5 non-null object
cae_entidade_v2                  5 non-null object
ind1_cae_v2                      5 non-null object
ind2_cae_v2                      5 non-null object
nr_pessoas_servico               5 non-null object
centro_movimento                 5 non-null object
data_insercao                    5 non-null object
saldo_pt                         5 non-null object
cnp_pretendida                   5 non-null object
qualificacoes                    5 non-null object
tempo_pratica_min                5 non-null object
tempo_pratica_max                5 non-null object
area_curso                       5 non-null object
qualificacoes_candidato          5 non-null object
data_ultima_divulgacao           5 non-null object
nivel_divulgacao                 5 non-null object
origem_oferta                    5 non-null object
pais_eures                       5 non-null object
centro_ute                       5 non-null object
nipc                             5 non-null object
cod_subentidade                  5 non-null object
cnatureza_juridica               5 non-null object
tempo_permanencia                5 non-null object
recrutamento_internacional       5 non-null object
data_rec_internacional           5 non-null object
data_limite_divulgacao           5 non-null object
tipo_actividade                  5 non-null object
sub_transporte                   5 non-null object
sub_turno                        5 non-null object
sub_refeicao                     5 non-null object
utilizador                       5 non-null object
contingente                      5 non-null object
cae_entidade                     5 non-null object
ind1_cae                         5 non-null object
ind2_cae                         5 non-null object
acompanhada                      5 non-null object
goe                              5 non-null object
me2012                           5 non-null object
id_estabel                       5 non-null object
regime_horario                   5 non-null object
protocolo                        5 non-null object
cod_protocolo                    5 non-null object
autoriza_consulta_acordo_sect    5 non-null object
reducao_tsu                      5 non-null object
nivel_intermediacao              5 non-null object
data_afetacao_tecnico            5 non-null object
origem_registo_ofa               5 non-null object
motivo_invalidacao               5 non-null object
id_reg_ent                       5 non-null object
centroa                          5 non-null object
startup                          5 non-null object
tsu45                            5 non-null object
me2013                           5 non-null object
reembolso_tsu                    5 non-null object
processo_recup_empresas          5 non-null object
cpp                              5 non-null object
ind_cpp                          5 non-null object
cpp_pretendida                   5 non-null object
me2014                           5 non-null object
eao                              5 non-null object
e_mais                           5 non-null object
pais_residencia_estrang          5 non-null object
grau_habilitacao_estrang         5 non-null object
last_update_date                 5 non-null object
dtypes: object(99)
memory usage: 3.9+ KB